<div class="single-page py-2 d-flex align-items-center vh-100">
    <div class="container py-3 text-white">
        <div class="row">
            <div class="col-12">
                <div class="w-100">
                    <div class="fs-1 fw-normal pb-2">{{Movie.title_english}}</div>
                    <div class="rating-info-zone d-flex">
                        <div class="">
                            <i class="las la-star text-danger pe-2"></i>
                            {{Movie.rating}}
                        </div>
                        <div class="text-white-50">&#x2022;</div>
                        <div class="">
                            {{Movie.year}}
                        </div>
                        <div class="text-white-50">&#x2022;</div>
                        <div class="">
                            {{#each Movie.genres}}
                                {{#if (ifCond @index '<' '2')}}
                                    <span class="badge bg-success fw-normal">{{this}}</span>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 py-4">
                <div class="w-100">
                    <p class="fs-6 text-white-50 fw-bold">
                        {{Movie.description_intro}}
                    </p>
                    <div class="text-danger fs-4">
                        <i class="las la-heart"></i>
                        <span class="text-light ps-2 fs-5">{{Movie.like_count}}</span>
                    </div>
                    <div class="text-danger fs-4">
                        <i class="las la-clock"></i>
                        <span class="text-light ps-2 fs-5">1hr 20min</span>
                    </div>
                    <div class="text-danger fs-4">
                        <i class="las la-language"></i>
                        <span class="text-light ps-2 fs-5 text-uppercase">{{Movie.language}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card-custom text-light w-100 h-100 m-auto shadow-cus">
                    <div class="image w-100 h-100">
                        <img src="https://www1.yts.nz{{Movie.large_cover_image}}" alt="" class="w-100 h-100">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center">
                <div class="fs-5 pt-3">Screenshots</div>
                <div class="row pb-4 pt-2">
                    <div class="col-4"><img src="https://www1.yts.nz{{Movie.large_screenshot_image1}}" alt="" class="w-100 h-100"></div>
                    <div class="col-4"><img src="https://www1.yts.nz{{Movie.large_screenshot_image2}}" alt="" class="w-100 h-100"></div>
                    <div class="col-4"><img src="https://www1.yts.nz{{Movie.large_screenshot_image3}}" alt="" class="w-100 h-100"></div>
                </div>
                <div class="d-flex">
                    {{#each Movie.torrents}}
                        <a href="https://www1.yts.nz{{this.url}}" class="btn btn-danger rounded rounded-5 fs-6 fw-bold py-2 px-3 me-2">
                            <i class="las la-download"></i>
                            Download
                            <span class="small text-white-50 fw-lighter">{{this.quality}}</span>
                        </a>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</div>